
:root{
   --main-color:#4834d4;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#34495e;
   --white:#fff;
   --light-bg:#f5f5f5;
   --light-color:#999;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
.post-editor
{
   background-color:  #fa7eae2e;
}
.post-editor .heading 
{
   text-align:  center;

}


.post-editor form{
    background-color: var(--white);
    border-radius: .5rem;
    border: var(--border);
    padding:2rem;
    box-shadow: var(--box-shadow);
    max-width: 80rem;
    margin:0 auto;
    padding-top: 1rem;
 }
 
 .post-editor form p{
    font-size: 1.8rem;
    color:var(--light-color);
    padding-top: 1rem;
 }
 
 .post-editor form p span{
    color:var(--red);
 }
 
 .post-editor form .box{
    width: 100%;
    margin:1rem 0;
    border-radius: .5rem;
    border: var(--border);
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    background-color: var(--light-bg);
 }
 
 .post-editor form textarea{
    height: 40rem;
    resize: none;
 }
 
 .post-editor form .image{
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin:1rem 0;
 }
 .navbar-blog
 {
   background-color:#fa7eae4f;
   height: 50px;
 }
 .navbar-blog ul 
 {
   display: flex;
}
.navbar-blog li 
{
   text-align: center;
   padding: 0 100px  ;
   color: #fff;
   list-style: none;
 }
 /* view post  */
 .show-posts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.show-posts .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   overflow: hidden;
}

.show-posts .box-container .box .image{
   height: 20rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.show-posts .box-container .box .status{
   font-size: 1.8rem;
   margin-bottom: 1rem;
   padding:.5rem 1rem;
   border-radius: .5rem;
   color:var(--white);
   display: inline-block;
   margin-bottom: 1rem;
}

.show-posts .box-container .box .title{
   font-size: 2rem;
   color:var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   padding:.5rem 0;
   min-width: 100%;
}

.show-posts .box-container .box .posts-content{
   font-size: 1.7rem;
   color:var(--light-color);
   line-height: 1.5;
   padding:1rem 0;
}

.show-posts .box-container .box .posts-content::after{
   content: '...';
}

.show-posts .box-container .box .icons{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding:1.5rem 2rem;
   border:var(--border);
   margin:.5rem 0;
}

.show-posts .box-container .box .icons div{
   font-size: 1.8rem;
}

.show-posts .box-container .box .icons div span{
   color:var(--main-color);
}

.show-posts .box-container .box .icons div i{
   color:var(--light-color);
   margin-right: .5rem;
}