* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.pbi {
    border-radius: 1000px;
    background: url(../img/user.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
}

.h6mtt {
    margin-top: 26px;
    font-size: 33px;
    font-weight: 400;
    text-align: center
}

.cont {
    background: red;
    display: block;
    width: 1200px;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pis {
    width: 100px;
    height: 100px;
}

/* .mySlides {
    display: none
} */

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.profileAla .profileimage {
    position: absolute;
    margin: 40;
    background-color: #d9d9d9;
    height: 400px;
    width: 300px;
    border-radius: 16px;
}